


.cards {
  margin: 10px;
  width: 200px;
  height: 250px;
}


#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 4%;

}
img {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 50%;
}

.actions {
  display: flex;
  justify-content: center;
}

.details{
  background-color: goldenrod;
}

h2 {
 text-align: center;
}

.footer{
  display: flex;
}

input {
	width: 25%;
	margin: 10px 0px 10px 10px;
	padding: 10px;
	border: none;
	margin-bottom: 10px;
  border-radius: 5px;
}



